* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

#root{
    width: 100%;
    height: 100%;
}

.container{
  height: 100%; 
  position: relative;
}

.grid-50{
    float: left;
    width: 50%;
    height: 100%;
}

.full-parent{
    float: left;
    width: 100%;
    height: 100%;
}

#graph svg{
    width: 100% important;
    height: 100% important;
    text-align: center;
}