* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

#root{
    width: 100%;
    height: 100%;
}

.container{
  height: 100%; 
  position: relative;
}

.grid-50{
    float: left;
    width: 50%;
    height: 100%;
}

.full-parent{
    float: left;
    width: 100%;
    height: 100%;
}

#graph_content, #graph{
    height: 100%;
}

#graph_content svg{
    width: 100% important;
    height: 100% important;
    text-align: center;
}

#graph_content svg a:hover{
    cursor: pointer;
}

#appBar{
    width: 100%;
    height: 7%;
    float: left;
    background: #1e1e1e;
}

#appBar p{
    width: 30%;
    height: 80%;
    margin: 1% auto;
    font-size: 18pt;
    color: blue;
    background: white;
    text-align: center;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
}